<IfModule mod_rewrite.c>
	Options -Multiviews
	RewriteEngine On
	RewriteBase /traversymvc/public
	RewriteCond %{REQUEST_FILENEM} !-d
	RewriteCond %{REQUEST_FILENEM} !-f
	RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>